body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 3vh;
    padding: 15vh;

}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar todo el contenido */
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ff00bf;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

button:hover {
    background-color: #ff8be2;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center; 
}

